
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

    <context:annotation-config/>
    <context:component-scan base-package="com.blk.spring"/>
<!--        <bean id="helloInterns" class="com.blk.spring.HelloInterns">-->
<!--            &lt;!&ndash;        <property name="name" value="indresh"/>&ndash;&gt;-->
<!--            <constructor-arg value="sharingan"/>-->
<!--        </bean>-->

<!--        <bean id="printMessage" class="com.blk.spring.PrintMessage">-->
<!--            <constructor-arg value="this the message generated"/>-->
<!--        </bean>-->





</beans>
